{% if artist_list %}
    <ul class="mdc-image-list my-image-list">
        <li class="mdc-image-list__item">
            <div class="mdc-image-list__image-aspect-container" style="padding: 8px;">
                {% for artist in artist_list %}
                    <div class="mdc-card">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media mdc-card__media--1-1"
                                 style="background-image: url(https://picsum.photos/1000);"></div>
                            <div>
                                <h2 class="mdc-typography mdc-typography--headline6">{{ artist.name }}</h2>
                                <h3 class="mdc-typography mdc-typography--subtitle2">Lorem Ipsum</h3>
                            </div>
                            <div class="mdc-typography mdc-typography--body2">Visit ten places on our planet that are
                                undergoing the biggest changes today.
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-buttons">
                                <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                        class="mdc-button__ripple"></span> Read
                                </button>
                                <button class="mdc-button mdc-card__action mdc-card__action--button"><span
                                        class="mdc-button__ripple"></span> Bookmark
                                </button>
                            </div>
                            <div class="mdc-card__action-icons">
                                <button class="mdc-icon-button mdc-card__action mdc-card__action--icon--unbounded"
                                        aria-pressed="false"
                                        aria-label="Add to favorites" title="Add to favorites">
                                    <i class="material-icons mdc-icon-button__icon mdc-icon-button__icon--on">favorite</i>
                                    <i class="material-icons mdc-icon-button__icon">favorite_border</i>
                                </button>
                                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
                                        title="Share" data-mdc-ripple-is-unbounded="true">share
                                </button>
                                <button class="mdc-icon-button material-icons mdc-card__action mdc-card__action--icon--unbounded"
                                        title="More options" data-mdc-ripple-is-unbounded="true">more_vert
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </li>
    </ul>
{% else %}
    There is no albums
{% endif %}

