:root {
    --mdc-theme-primary: #58C9B9 !important;
    --mdc-theme-secondary: #9DC8C8 !important;
    --mdc-theme-on-surface: #D1B6E1 !important;
}

.mdc-tab-bar {
    --mdc-theme-primary: #fff !important;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mdc-theme-primary: #58C9B9 !important;
        --mdc-theme-secondary: #519D9E !important;
        --mdc-theme-background: #363636 !important;
        --mdc-theme-on-background: #505050 !important;
        --mdc-theme-surface: #808080 !important;
        --mdc-theme-text-primary-on-background: #fff !important;
    }
}

body {
    display: flex;
    height: 100vh;
    margin: 0;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;
}

.mdc-list-item {
    padding-right: 32px;
}

.mdc-data-table {
    width: 100%;
}

.content {
    display: none;
    width: 100%;
}

.content--active {
    display: block;
}

.main {
    padding: 16px;
}

.mdc-fab {
    z-index: 5;
}

.my-image-list {
@include mdc-image-list-standard-columns(5);
}

#ui-albumart {
    margin-right: 1em;
}